<h2>Basic Icons</h2>
<mat-icon>check_circle</mat-icon>
<mat-icon>list</mat-icon>
<mat-icon>close</mat-icon>

<h2>Icon Color</h2>
<mat-icon color="primary">check_circle</mat-icon>
<mat-icon color="accent">list</mat-icon>
<mat-icon color="warn">close</mat-icon>

<h2>Icon Buttons</h2>
<button mat-icon-button>
  <mat-icon color="primary">check_circle</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon color="accent">list</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon color="warn">close</mat-icon>
</button>

<h2>Icon FAB</h2>
<button mat-fab color="primary">
  <mat-icon>check_circle</mat-icon>
</button>
<button mat-fab color="accent">
  <mat-icon>list</mat-icon>
</button>
<button mat-fab color="warn">
  <mat-icon>close</mat-icon>
</button>

<h2>Custom Icons</h2>
<button mat-fab color="primary">
  <mat-icon svgIcon="custom-camera"></mat-icon>
</button>
