<!--
  Angular material offers elevation helper classes within a range of 0-24,
  corresponding to the projected height. These can also be applied through
  the mat-elevation(z) mixin, exposed through '~@angular/material/theming'.
  This also includes transition mixins should you wish to animate interactions
  like hover, or mouse clicks on custom components.

  For more: https://material.angular.io/guide/elevation
  Elevation guide: https://material.io/guidelines/material-design/elevation-shadows.html
-->
<mat-toolbar color="accent"
             class="primary-header"
             [class.mat-elevation-z4]="applyShadow">
  <span *ngIf="popText">
    Structuring Angular Apps with Angular Material Components
  </span>
</mat-toolbar>
<mat-toolbar color="accent"
             class="extended-header">
  <span *ngIf="!popText">Material Design Toolbars</span>
</mat-toolbar>
<div class="lesson-content">
  <h2>Toolbar Color Options</h2>
  <mat-toolbar>No Setting</mat-toolbar>
  <mat-toolbar color="primary">Primary</mat-toolbar>
  <mat-toolbar color="accent">Accent</mat-toolbar>
  <mat-toolbar color="warn">Warn</mat-toolbar>

  <h2>Toolbar Rows</h2>
  <mat-toolbar color="primary">
    <mat-toolbar-row color="primary">Primary</mat-toolbar-row>
    <mat-toolbar-row color="accent">Accent</mat-toolbar-row>
    <mat-toolbar-row color="warn">Warn</mat-toolbar-row>
  </mat-toolbar>
</div>
