<mat-sidenav-container class="lesson-list-container">
  <mat-sidenav [mode]="sidenavMode"
               [opened]="!isSmallScreen"
               [fixedInViewport]="true"
               class="lesson-list-sidenav"
               #lessonSidenav>
    <mat-toolbar color="primary">Egghead Material</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         *ngFor="let lesson of lessons; let i = index"
         [routerLink]="lesson.path"
         routerLinkActive="active-lesson">
        {{i + 1}} - {{ lesson.data.shortName }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="accent"
               *ngIf="lessonConfig.shouldUseStandardStyles | async"> {{ header$ | async }} </mat-toolbar>
  <div class="mat-typography"
       [class.lesson-wrapper]="lessonConfig.shouldUseStandardStyles | async">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
<button *ngIf="isSmallScreen"
        mat-mini-fab
        color="primary"
        class="sidenav-toggle"
        [@growInOut]="'in'"
        (click)="lessonSidenav.toggle()">
  <mat-icon>view_list</mat-icon>
</button>
