@import '../node_modules/@angular/material/theming';
@import './app/lessons/theming/custom_lesson_theme';

@mixin egghead-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  @include custom-lesson-theme($theme);
}
